.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
.idea/
build/
bancomong-android/src/main/res/values/com_crashlytics_export_strings.xml
bancomong-android/bancomong-android.apk
bancomong-android/src/main/assets/crashlytics-build.properties
android-client.iml
bancomong-android/bancomong-android.iml
*.hprof